<div class="jumbotron mt-4">
	<h1 class="display">IRONOTES</h1>
	<br>
	<p class="lead">Achieve more with the best Notes!</p>
	<hr class="my-4">
	<p>Ironotes helps you capture your ideas and find them quick and easily.</p>
			
			<a href="/notes/add"> 
			<div class="button_container2">
					
				<button type="submit" class="btn2">
						

					<span>Start with your first Note</span>
					
				</button>
			</a>
		</div>
</div>

<div class="home-cont">

	<div class="col-md-4">

		<div class="card1">
			<div class="imgBox">
				<img class="image"
					src="https://www.nevasport.com/fotos/091012/465027.jpg"
					alt="Recuerda lo que importa">

			</div>

			<div class="content">
				<div class="text">
					<h3>Recuerda lo que importa</h3>
					<br>
					<p>Manten siempre contigo la información importante, al alcance de todos tus dispositivos.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">

		<div class="card1">
			<div class="imgBox">
				<img class="image"
					src="https://img.freepik.com/foto-gratis/hermoso-paisaje-blancas-montanas-nevadas-colinas_181624-3126.jpg?size=626&ext=jpg"
					alt="Tus notas, a tu manera">

			</div>

			<div class="content">
				<div class="text">
					<h3>Tus notas, a tu manera</h3>
				<br>
					<p>Las herramientas para expresarte y ayudarte a plasmar lo que piensas.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-4">

		<div class="card1">
			<div class="imgBox">
				<img class="image"
					src="https://p1.pxfuel.com/preview/133/269/75/snow-mountains-italy-ice-winter-nature.jpg"
					alt="Encuéntralo todo">

			</div>

			<div class="content">
				<div class="text">
					<h3>Encuéntralo todo</h3>
					<br>
					<p>Consigue lo que necesites, cuando lo necesites. Organiza tus notas y encuentra rápidamente lo que buscas.</p>
				</div>
			</div>
		</div>
	</div>



</div>